/itf-git-workshop-1-student_README.pdf
/itf-html-css-workshop-lead_README.pdf
/ITF_10_1_STUDENT.pdf
/ITF_10_2_Student 2.pdf
/ITF_10_2_Student.pdf
/ITF_10_2_TEAM-LEAD.pdf
/ITF_10_3_STUDENT.pdf
/ITF_10_3_TEAM-LEAD.pdf
/ITF_10_4_STUDENT.pdf
/ITF_10_4_TEAM-LEAD.pdf
/ITF_10_5_STUDENT.pdf
/ITF_10_6_student.pdf
/ITF_10_7_STUDENT.pdf
/ITF_10_8_STUDENT.pdf
/linux-unix.docx
/Python-workshop-1-lead.ipynb
/Python-workshop-1-student.ipynb
/sql-course
/workshop-3_python_student.ipynb
/workshop-4(student).ipynb
/workshopmozkan (1).ipynb
/workshopsoru2.ipynb
/workshop_2_python_student_version.ipynb